@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;

}


body{
    box-sizing: border-box;
    height: 100vh;
    background: #1f1a30;
    color: #F6F6F6;
}

.destaque-titulo{
    color: #22D4FD;
}

.apresentacao{
    margin: 10%;
    align-items: center;
    display:flex;
    justify-content: space-between;
    
}

.apresentacao__conteudo{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif ;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
}

.apresentacao__links__link{
    background-color: #22D4FD;
    width: 280px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 24px;
    padding-top: 21.5px;
    padding-bottom:21.5px;
    text-decoration: none;
    color: #000000;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
}
img{
    border: 2px  #22D4FD solid;
    border-radius: 25px;
}


