@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor--fundo: #2C3333;
    --cor--geral: #295f5f;
    --cor--cabecalho: #2c4b4b;
    --cor--terciaria: #0E8388;
    --cor--hover:#334944;
    
    --fonte--principal: 'Krona One', sans-serif;
    --fonte--secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}


body {
    box-sizing: border-box;
    background-color: var(--cor--fundo);
    color:var(--cor--geral);
}

.cabecalho{
    background-color: var(--cor--cabecalho);
    padding: 2% 0% 2% 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte--secundaria);
    font-weight: 600px;
    font-size: 1.5rem;
    color: var(--cor--terciaria);
    text-decoration: none;

}

.destaque-titulo {
    color: var(--cor--terciaria);
}

.apresentacao {
    padding: 5% 10%;
    align-items: center;
    display:flex;
    justify-content: space-between;
    gap: 82px;
    
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte--principal) ;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family:var(--fonte--secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family:var(--fonte--principal);
    font-weight: 400px;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 50%; 
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding-top: 21.5px;
    padding-bottom:21.5px;
    text-decoration: none;
    color: var(--cor--fundo);
    font-family:var(--fonte--secundaria);
    font-weight: 600;
    color: var(--cor--geral);
    border: 2px solid var(--cor--terciaria);
}

.apresentacao__links__navegacao:hover{
    background: var(--cor--hover);
}

.apresentacao__imagem {
    border: 2px  var(--cor--terciaria) solid;
    border-radius: 25px;
    width: 35%;
}

.rodape{
    color:var(--cor--fundo);
    background-color: var(--cor--terciaria);
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: var(--fonte--principal);
    font-size: 1.5rem;
    font-weight: 400px;
}

@media (max-width: 1200px){

    .cabecalho{
        padding: 6%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        padding: 5%;
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    
}




